.connections-plugin-table-content {
  padding-inline-start: 0.5em;
}

.connections-plugin-settings-table-header {
  font-weight: bold;
}

.connections-plugin-unresolved-link {
  color: var(--link-unresolved-color);
  opacity: var(--link-unresolved-opacity);
  filter: var(--link-unresolved-filter);
  text-decoration-style: var(--link-unresolved-decoration-style);
  text-decoration-color: var(--link-unresolved-decoration-color);
}

.connections-plugin-same-document-link {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
}

.connections-plugin-section-divider {
  border: none;
  border-top: 3px double;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 85%;
  margin: auto;
  margin-top: 3em;
}

.connections-plugin-section-divider::after {
  background: white;
  content: "ยง";
  font-size: 120%;
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.connections-plugin-unmapped-connections-table {
  margin-top: 3em;
}

.connections-plugin-connection-table-row:last-child td,
.connections-plugin-connection-table-row:last-child th {
  border: 0;
}

#input-mapSubject {
  min-width: 6ch;
}