.connections-table-content {
  padding-left: 1em;
}

.connections-settings-table-header {
  font-weight: bold;
}

.same-document {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
}

.section-divider {
  border: none;
  border-top: 3px double;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 85%;
  margin: auto;
  margin-top: 3em;
}

.section-divider::after {
  background: white;
  content: "ยง";
  font-size: 120%;
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.unmapped-connections-table {
  margin-top: 3em;
}